.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

/* .right-side {
}

.left-side {
} */
