.App-header {
  background-color: #28342d;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.form-container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #aac1b4;
  box-shadow: 3px 5px;
  padding: 15px;
}

.form-container div {
  margin: 25px 0;
}

.form-container form {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

#jar {
  padding-left: 100px;
  padding-top: 70px;
  scale: 0.80;
}

.dateTime {
  position: absolute;
  top: 54%;
  left: 20.3%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.timer {
  font-size: 3rem;
  padding: 1.5rem;
}

.timer-container {
  text-align: center;
}

.money {
  font-size: 2.5rem;
  padding: 1rem;
}

.progress {
  height: 25px !important;
}

.left-side a {
  display: block;
}

.left-side {
  position: relative;
}

.gold-coin {
  scale: 0.25;
  position: absolute;
  top: -25%;
  left: 10%;
  z-index: 2;
}

.silver-coin {
  scale: 0.15;
  position: absolute;
  top: -34%;
  left: -5%;
  z-index: 2;
}

.bronze-coin {
  scale: 0.14;
  position: absolute;
  top: -32%;
  left: -5%;
  z-index: 2;
}

.animated {
  transform: translateY(0);
  animation-name: coindrop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes coindrop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(600px);
  }
}