.App-header {
  background-color: #28342d;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.form-container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #aac1b4;
  box-shadow: 3px 5px;
  padding: 15px;
}

.form-container div {
  margin: 25px 0;
}

.form-container form {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

#jar {
  scale: 0.75;
  margin-top: -5%;
  margin-left: -25%;
  margin-right: 25%;
}

.dateTime {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 550;
  margin-left: 25%;
  margin-right: -25%;
  margin-top: 38%;
  z-index: 2;
}

.timer {
  font-size: 3rem;
  padding: 1.5rem;
}

.timer-container {
  text-align: center;
}

.money {
  font-size: 2.5rem;
  padding: 1rem;
}

.progress {
  height: 25px !important;
}

.coin {
  margin-top: -20%;
  margin-right: 30%;
  scale: 0.5;
}

.top-left {
  height: 15vh;
}

.animated {
  transform: translateY(0);
  animation-name: coindrop;
  animation-duration: 250ms;
}

@keyframes coindrop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300px);
  }
}