.App-header {
  background-color: #28342d;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
}

.form-container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #aac1b4;
  box-shadow: 3px 5px;
}

.form-container div {
  margin: 25px 0;
}

.form-container form {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}
